<form  #editObjectForm="ngForm" (ngSubmit)="editObject()" >
    <h1 mat-dialog-title>{{inputdata.title}}</h1>
    <div mat-dialog-content *ngIf="findedObject">
        <mat-form-field>
            <mat-label>
                Name:
            </mat-label>
            <input matInput [(ngModel)]="findedObject.nom" [ngModelOptions]="{standalone: true}" placeholder="Nom Objet">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button type="submit" color="primary">Save</button>
      <a (click)="closepopup()" mat-raised-button color="warn">Close</a>
      <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Cancel</button>
    </div>
    </form>