<form #editRapportForm="ngForm" (ngSubmit)="editRapport()">
    <h1 mat-dialog-title>{{inputdata.title}}</h1>
    <div mat-dialog-content *ngIf="findedRapport">
        <mat-form-field>
            <mat-label>
                Email:
            </mat-label>
            <input matInput [(ngModel)]="findedRapport.user.email" [ngModelOptions]="{standalone: true}"
                placeholder="Email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                Client :
            </mat-label>
            <input matInput [(ngModel)]="findedRapport.client.name" [ngModelOptions]="{standalone: true}"
                placeholder="Client">
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                Type Rapport:
            </mat-label>
            <input matInput [(ngModel)]="findedRapport.object.nom" [ngModelOptions]="{standalone: true}"
                placeholder="Type Rapport">
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                Type Rapport:
            </mat-label>
            <input matInput [(ngModel)]="findedRapport.region.nom" [ngModelOptions]="{standalone: true}"
                placeholder="Region">
                
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                text Rapport:
            </mat-label>
            <input matInput [(ngModel)]="findedRapport.text" [ngModelOptions]="{standalone: true}"
                placeholder="text">
                
        </mat-form-field>

        <div *ngIf="checkAuthentification()==true"> 
            <mat-label>
                Validation De Rapport:
            </mat-label>
            <mat-checkbox [(ngModel)]="findedRapport.valid" [ngModelOptions]="{standalone: true}"
                *ngIf="findedRapport.valid == true" [checked]="findedRapport.valid === true" [disabled]="false"
                (click)="changeValid()">Valide</mat-checkbox>
            <mat-checkbox [(ngModel)]="findedRapport.valid" [ngModelOptions]="{standalone: true}"
                *ngIf="findedRapport.valid != true" [checked]="findedRapport.valid === true" [disabled]="false"
                (click)="changeValid()">InValide</mat-checkbox>
        </div>
        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [(ngModel)]="findedRapport.date" [ngModelOptions]="{standalone: true}"
                [matDatepicker]="picker">
            <mat-hint>{{findedRapport.date}}</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker" [(ngModel)]="findedRapport.date"
                [ngModelOptions]="{standalone: true}"></mat-datepicker-toggle>
            <mat-datepicker #picker [(ngModel)]="findedRapport.date"
                [ngModelOptions]="{standalone: true}"></mat-datepicker>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button type="submit" color="primary">Save</button>
        <a (click)="closepopup()" mat-raised-button color="warn">Close</a>
        <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Cancel</button>
    </div>
</form>