:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;
    --light: #F9F9F9;
    --blue: #3C91E6;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
}

app-header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 4rem;
    z-index: 2;
}

.black-border {
    border: 1px solid black;
}

main {
    position: absolute;
    width: 100%;
    top: 3.5rem;
    z-index: 1;
}

app-side-nav {
    position: absolute;
    background-color: rgba(34, 34, 34, 1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    left: 0rem;
    width: 60px;
    min-height: 150vh;
    border-top: 1px solid white;
    overflow-x: hidden;
    overflow-y: auto;
    /* Permet le défilement si nécessaire */
    white-space: nowrap;
    transition: width 250ms ease-in-o;
}

.app-side-nav-open {
    width: 250px;
}

.display-body {
    position: absolute;
    left: 60px;
    width: calc(100% - 60px);
    margin-top: 15px;
}

.display-body-shrink {
    position: absolute;
    width: calc(100% - 250px);
    left: 250px;
}

.example-action-buttons {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mat-form-field {
    width: 100%;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
}